div.mainBody {
    width: 800px;
    margin:auto;
}

.keyword {
    font-weight:bold;
    color:blue;
}

.button {
    border-style: solid;
    border-radius: 5px;

    background-color: lightGray;
    padding: 5px;
    border-color:black;
}

#displayImage {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}